{% extends "base.html"%}
{% load static %}

    {% block title %}
    my blog        
    {% endblock  %}

    {% block css %}    
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/posts.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    {% endblock %}

    {% block content%}  
    {% include "blog/includes/header.html" with movetolink="/posts" movetoname="All posts" %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/max.png" %}"/>
            <h2>my blog</h2>
        </header>
        <p>Hi, this place is a full of shit.</p>
    </section>
    <section id="latest-posts">
        <h2>My latest Thoughts</h2>
        <ul>
            {% for p in recent %}
                {% include 'blog/includes/preview.html' %}
            {% endfor %}            
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>making full of shit</p>
    </section>
    {% endblock %}
    
    